Flujos Node-Red/Sesion 1.json
[
    {
        "id": "9dcdf2456c8e8c34",
        "type": "tab",
        "label": "Sesion 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "964fa532a420bb58",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "INSERT INTO sensors_details(sensor_id, user_id, value) VALUES(2, 1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "3b423f050e91315d"
            ]
        ]
    },
    {
        "id": "a581742682b72c44",
        "type": "mqtt in",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "topic": "iot/interruptorMercurio",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a57d88d4734bd2a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "964fa532a420bb58"
            ]
        ]
    },
    {
        "id": "3b423f050e91315d",
        "type": "debug",
        "z": "9dcdf2456c8e8c34",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "c3547d74e3b1dcb6",
        "type": "inject",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "18fdd5dfc14b60cd"
            ]
        ]
    },
    {
        "id": "18fdd5dfc14b60cd",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "SELECT * FROM sensors_details;",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "f1d52509250edda2"
            ]
        ]
    },
    {
        "id": "f1d52509250edda2",
        "type": "ui_table",
        "z": "9dcdf2456c8e8c34",
        "group": "ab6defb3d93acf0f",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "fe1e5524547f21fa",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "INSERT INTO sensors_details(sensor_id, user_id, value) VALUES(3, 1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "e025e6b2b26ee9c6"
            ]
        ]
    },
    {
        "id": "ba0358b7f45c3a85",
        "type": "mqtt in",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "topic": "iot/microfonoSensible",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a57d88d4734bd2a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "fe1e5524547f21fa"
            ]
        ]
    },
    {
        "id": "e025e6b2b26ee9c6",
        "type": "debug",
        "z": "9dcdf2456c8e8c34",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "7daa9fa3dde81b0a",
        "type": "inject",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "17deb87f18ac1e34"
            ]
        ]
    },
    {
        "id": "17deb87f18ac1e34",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "SELECT * FROM sensors_details;",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "158ba0d88ca18cfa"
            ]
        ]
    },
    {
        "id": "158ba0d88ca18cfa",
        "type": "ui_table",
        "z": "9dcdf2456c8e8c34",
        "group": "d3d60ba42b1a499d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "bf13dd5760d32811",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "INSERT INTO sensors_details(sensor_id, user_id, value) VALUES(4, 1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "91cbdcc9283d9da4"
            ]
        ]
    },
    {
        "id": "5a6257aa52ef1783",
        "type": "mqtt in",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "topic": "iot/sonidoMicrofono",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a57d88d4734bd2a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "bf13dd5760d32811"
            ]
        ]
    },
    {
        "id": "91cbdcc9283d9da4",
        "type": "debug",
        "z": "9dcdf2456c8e8c34",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "60f67b417dc4f240",
        "type": "inject",
        "z": "9dcdf2456c8e8c34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "246c16acb04de103"
            ]
        ]
    },
    {
        "id": "246c16acb04de103",
        "type": "postgresql",
        "z": "9dcdf2456c8e8c34",
        "name": "Postgresql",
        "query": "SELECT * FROM sensors_details;",
        "postgreSQLConfig": "bbcf4a17e21656b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "cf2f482487a4db2e"
            ]
        ]
    },
    {
        "id": "cf2f482487a4db2e",
        "type": "ui_table",
        "z": "9dcdf2456c8e8c34",
        "group": "dd71faa855c4eaf8",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 550,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bbcf4a17e21656b9",
        "type": "postgreSQLConfig",
        "name": "ConexionPostgresql",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "a57d88d4734bd2a9",
        "type": "mqtt-broker",
        "name": "BaspberryPi",
        "broker": "192.168.137.237",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab6defb3d93acf0f",
        "type": "ui_group",
        "name": "Inclinacion Mercurio",
        "tab": "ca63d704f3e0f901",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3d60ba42b1a499d",
        "type": "ui_group",
        "name": "MicrofonoSensible",
        "tab": "ca63d704f3e0f901",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd71faa855c4eaf8",
        "type": "ui_group",
        "name": "SonidoMicrofono",
        "tab": "ca63d704f3e0f901",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca63d704f3e0f901",
        "type": "ui_tab",
        "name": "Sesion 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]